a, h1, h2, li, p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

hr {
    color: white;
}

img {
    height: auto;
    width: 500px;
  }

ol, p {
    width: 500px;
}

body {
    background-color: dimgrey;
}